/* 공통 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.ttf') format("truetype");
    font-display: swap;
}
body{
    font-family: 'NanumGothic';
    height:100vh;
}
body div{
    padding-left: 1rem;
    padding-right: 1rem;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom:solid 1px #E6E6E6;
    padding-top:1.2rem;
    padding-bottom:1.2rem;
}
.header-logo-container{
    order: 1;
}
.header-menu-container{
    order: 2;
}
.header-logo{
    width : 16rem;
}
.header-menu-container a{
    font-family: KoPubWorldDotum_Pro;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    line-height: normal;
    text-decoration-line: none;
    margin : 0.7rem;
    color:black;
}
#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 5rem;
}

/*여기까지*/
.signup-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}
h2{
    font-family: pretendard;
    font-size: 3.5rem;
    font-weight: 600;
}
.input-div{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}
.signup-input{
    margin-bottom: 8rem;
    gap: 1rem;
}
.input-div p {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 11rem;
    height: 4rem;
    text-align:center;
    font-family: "Pretendard";
    font-size : 2rem;
    font-weight:700;
    
}
.input-div input{
    width:27.5rem;
    height:4rem;
    border : 1px solid #929292;
    font-size:32px;
}
.pw-confirm{
    text-align: center;
}
.sign-btn-container{
    display: flex;
    justify-content: center;
    align-items : center;
}
.sign-btn{
    width: 40rem;
    height: 5rem;
    padding: 0.625rem 12.5rem;
    
    gap: 0.625rem;
    color : white;
    background-color : black;
    font-family: "Pretendard";
    font-size: 1.75rem;
    font-weight: 400;
}