<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link href = "../css/signup.css", rel="stylesheet">
        <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
        <title>LOWLAW</title>
    </head>
    <body>
        <header class = "header">
            <div class = "header-logo-container">
                <a href=""><img class = "header-logo" src = "../src/logo-header2.png"></a>
            </div>
            <div class = "header-menu-container">
                <a href="" class = "header-menu">검색엔진</a>
                <a href="" class = "header-menu">AI챗봇</a>
            </div>
        </header>
        <main>
            <div class = "signup-title">
                <h2>회원가입</h2>
            </div>
            <div class = "signup-input">
                <div class = "input-div">
                    <p>닉네임</p>
                    <input type = "text" id = "input-name" class = "input-name">
                </div>
                <div class = "input-div">
                    <p>이메일</p>
                    <input type = "text" id = "input-id" class = "input-id">
                </div>
                <div class = "input-div">
                    <p>비밀번호</p>
                    <input type = "text" id = "input-pw" class = "input-pw">
                </div>
                <div class = "input-div">
                    <p>비밀번호 확인</p>
                    <input type = "text" id = "input-pw-cf" class = "input-pw-cf">
                    <p>비밀번호가 일치하지 않습니다.</p>
                </div>
            </div>
            <div class = "sign-btn-container">
                <button class = "sign-btn" id = "sign-btn" onclick="signUp()">가입하기</button>
            </div>
        </main>
        <script src = "../js/signup.js"></script>
    </body>
</html>
