<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link href = "{% static 'css/chatbot.css' %}", rel="stylesheet">
        <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
        <title>LOWLAW</title>
    </head>
    <body>
        <header class = "header">
            <div class = "header-logo-container">
                <a href=""><img class = "header-logo" src = "{% static 'src/logo-header2.png' %}"></a>
            </div>
            <div class = "header-menu-container">
                <a href="" class = "header-search">검색엔진</a>
                <a href="" class = "header-chatbot">AI챗봇</a>
            </div>
        </header>
        <main>
            <h1>AI 챗봇</h1>
            <div id = "message_div" class = 'message_div'>
                <div style= "overflow: auto;" class ="message_container" id = "message_container">
                    <!-- <div class = "user_message" id = "user_message">
                        <p id = 'ask' class = 'ask'> 주택을 임차하고 입주하였는데, <br>화장실 변기에 물이 제대로 내려가지 않아서 상당한 불편을 겪고 있습니다. <br>세입자는 임대인인 집주인에게 수리를 요구할 수 있나요.</p>
                    </div>
                    <div class = "com_message" id = "com_message">
                        <p>판례는 “임대차계약에 있어서 <br>임대인은 임대차 목적물을 계약 존속 중 그 사용·수익에 필요한 상태를 유지하게 할 의무<br>(이하 ‘임대인의 수선의무'라고 한다)를 부담한다(민법 제623조). <br>그리하여 그 목적물에 파손 또는 장해가 생긴 경우에 그것을 수선하지 아니하면 <br>임차인이 계약에 의하여 정하여진 목적에 따라 사용·수익하는 것을 방해받을 정도의 것이라면 <br>임대인은 그 수선의무를 부담한다 할 것이다”라고 판시하고 있습니다(대법원 2012.3.29, 선고, 2011다107405, 판결). <br>따라서 이 사례와 같이 임차한 주택의 화장실 변기의 고장으로 임차 목적을 달성하지 못하는 임차인은 임대인에게 수선을 요구할 수 있습니다.</p>
                        <div class = "button_container" id = button_container>
                            <button class = "com_btn" id = "com_btn" onclick="checkLaw(this)">참고 법령 민법 제623조에 대해 확인하기</button>
                            <button class = "com_btn" id = "com_btn" onclick = "checkPrec(this)">참고 판례 2011다107405에 대해 확인하기</button>
                        </div>
                    </div>
                    <div class = "user_message" id = "user_message">
                        <p> 주택을 임차하고 입주하였는데, <br>화장실 변기에 물이 제대로 내려가지 않아서 상당한 불편을 겪고 있습니다. <br>세입자는 임대인인 집주인에게 수리를 요구할 수 있나요.</p>
                    </div> -->
                </div>
                <div class = "message_input_div">
                    <div id = "message_input_container" class = "message_input_container">
                            <textarea rows = "1" class = "message_input" id = "message_input" placeholder="질문을 입력해주세요"></textarea>
                            <img id = "message_btn" class = "message_btn" src = "{% static 'src/btn_chatbot_sending.svg' %}">
                    </div>
                </div>
            </div>

        </main>
        <script src="{% static 'js/chatbot.js' %}?v=2"></script>
    </body>
    <footer class = "footer">
        <p>(C) 2023. LOWLAW. All rights reserved.</p>
    </footer>
</html>