<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
        <title>LOWLAW</title> 
    </head>
    <body>
        <header class="header">
            <div class="header-logo-container">
                <a href=""><img class="header-logo" src="{% static 'src/logo-header2.png' %}"></a>
            </div>
            <div class="header-menu-container">
                <a href="" class="header-menu">검색엔진</a>
                <a href="" class="header-menu">AI챗봇</a>
            </div>
        </header>
        <div class='introduce-container'>
            <div class='introduce-left-container'>
                <div class='introduce-bigFont'>
                    <p>임대차 분쟁 해결을 위한<br>법적 조언을 쉽게 얻어보세요</p>
                </div>
                <div class='introduce-smallFont'>
                    <p>누구에게나 닥칠 수 있는 임대차 분쟁<br>경제적, 심리적 부담을 줄여주는<br>LOWLAW 서비스를 이용하고 싶다면?</p>
                </div>
                <div class='introduce-joinButton'>
                    <img class='joinButton' src="{% static 'src/main-join-button.png' %}">
                </div>
            </div>
            <div class='introduce-right-container'>
                <div class='introduce-img-container'>
                    <img class='introduce-img' src="{% static 'src/main-illu.png' %}">
                </div>
            </div>
        </div>
        <div class='button-container'>
            <a href=""><img class='btn-searchEngine' src="{% static 'src/btn-searchEngine.png' %}"></a>
            <a href=""><img class='btn-chatbot' src="{% static 'src/btn-chatbot.png' %}"></a>
        </div>
        <div class="introduce-search-container">
            <div class='introduce-explain-container'>
                <p class='introduce-title'>키워드 검색</p>
                <p class='introduce-explain'>다양한 조건을 검색 후
                    <br>더 정확하고 내가 필요한 정보만
                    <br>딱 알아 볼 수 있어요.</p>
            </div>
            <img class='img-searchbar' src="{% static 'src/searchbar.png' %}">
            <div class='introduce-explain-bigFont'>
                <p>어렵게 생각했던 법률 검색
                    <br>쉽고 간편하게 판례와 빠르게 확인하기!
                </p>
            </div>
            <img class='img-web' src="{% static 'src/search-web.png' %}">
        </div>
        <div class='gray-box'></div>
        <div class="introduce-web-container">
            <div class='introduce-explain-container'>
                <p class='introduce-title'>AI 상황분석</p>
                <p class='introduce-explain'>내가 어떤 상황인지 파악하고
                    <br>어떻게 해결할지 궁금하다면
                    <br>LOWLAW와 대화하면서 해결해보세요
                </p>
            </div>
            <div class='gray-container'>
                <img class='orange-chat' src="{% static 'src/orange-chat.png' %}">
                <img class='white-chat' src="{% static 'src/white-chat.png' %}">
                <img class='ask-join-btn' src="{% static 'src/join-button2.png' %}">
            </div>
        </div>
    </body>
    <footer class="footer">
        <p>(C) 2023. LOWLAW. All rights reserved.</p>
    </footer>
</html>
