/* 공통 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'KoPubWorldDotum';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumBold.ttf') format("truetype");
    font-display: swap;
}
body{
    font-family: 'NanumGothic';
}
body div{
    padding-left: 1rem;
    padding-right: 1rem;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom:solid 1px #E6E6E6;
    margin-top:1rem;
    margin-bottom:1rem;
}
.header-logo-container{
    order: 1;
}
.header-menu-container{
    order: 2;
}
.header-logo{
    width : 8.75rem;
}
.header-menu{
    font-family: KoPubWorldDotum_Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color : black;
    line-height: normal;
    text-decoration-line: none;
    margin : 0.7rem;
}
footer{
    background-color: black;
    margin-left:-0.5rem;
    margin-right:-0.5rem;
}
footer p{
    padding-top:3rem;
    padding-bottom: 3rem;
    color:white;
    text-align: center;
    
}
/*여기까지*/
.gray-box{
    margin-left: -0.5rem;
    margin-right:-0.5rem;
    background-color: #F7F6F6;
    height:3rem;
}
.introduce-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
    margin-bottom: 2rem;
}
.introduce-left-container{
    gap:2.5rem;
}
.introduce-bigFont{
    font-family: Pretendard;
    font-size : 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.introduce-smallFont{
    font-family: 'NanumGothic';
    color:#737373;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 200;
    
}
.joinButton{
    width: 11.5rem;
}
.introduce-img{
    width: 14rem;
}
.button-container{
    background-color: #F7F6F6;
    margin-left:-0.5rem;
    margin-right:-0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display:flex;
    justify-content: center;
    gap:1.5rem;
    padding-top:2rem;
    padding-bottom:2rem;
}
.button-container a{
    width: 48%;
}
.button-container a img{
    width:100%;
}

.introduce-explain-container{
    gap:2rem;
    margin-top: 2.8rem;
    margin-bottom: 2rem;
}
.introduce-search-container img{
    margin: auto;
    display:block;
}
.img-searchbar{
    width:46rem;
    text-align: center;
}
.img-web{
    width: 37.5rem;
    text-align: center;
}


.introduce-title{
    font-family: 'NanumGothicBold';
    color:black;
    font-size:1.75rem;
    font-weight: 700;
}
.introduce-explain-bigFont{
    font-family: 'NanumGothicBold';
    color:black;
    font-size:1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}
.introduce-explain{
    font-family: 'NanumGothic';
    color:#737373;
    font-size:1.3rem;
    font-style:normal;
    font-weight: 100;
}
.gray-container{
    margin-left: -1.5rem;
    margin-right:-1.5rem;
    padding-left:2rem;
    padding-right:2rem;
    padding-top: 3.2rem;
    padding-bottom: 4rem;
    background-color: #F7F6F6;

    display:flex;
    flex-direction: column;
    align-items: center;
}
.orange-chat{
    align-self:flex-end;
}
.white-chat{
    margin-top:3.5em;
    align-self: flex-start;
}
.ask-join-btn{
    margin-top: 4rem;
    text-align:center;
}


